<section id='mechanic-<%= @mechanic.id %>'>
  <h1>Mechanic: <%= @mechanic.name %></h1>
  <h2>Years Experience: <%= @mechanic.years_experience %></h2>
</section>
<section class="ride-list">
  <h3>Rides:</h3>
  <% @mechanic_rides.each do |ride| %>
    <p><%= ride.name %></p>
  <% end %>
</section>
<section class="open-rides-list">
  <h3>Open Rides Only:</h3>
  <% @mechanic_rides.open_rides.each do |ride| %>
    <p><%= ride.name %></p>
  <% end %>
</section>
